{% extends 'base.html' %}
{% load static %}
{% block content %}
     <section class="no-mb relative-positioned">
        <!--
        *** JUMBOTRON ***
        _________________________________________________________
        -->
        <div style="background: url('/static/img/photogrid.jpg') center center repeat; background-size: cover;" class="jumbotron relative-positioned color-white text-md-center">
          <div class="dark-mask"></div>
          <div class="container">
            <div class="row mb-small">
              <div class="col-md-12 text-center">
                <h1 class="text-uppercase">"CYKOR IS GREAT"</h1>
                <h2 class="text-uppercase">WE ARE <b>33</b> HEROS AFFILIATED TO KOREA UNIV. </h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-small"><img src="{% static 'img/template-mac.png' %}" alt="..." class="img-fluid"></div>
              <div class="col-md-6 text-center-sm">
                <p class="text-uppercase text-bold">We create value in various fields<br>of Computer Science.<br><br>We can do anything.</p>
                <p class="no-letter-spacing">cykor</p>
                <p><a href="#packages" class="scroll-to btn btn-template-outlined-white">See packages</a></p>
              </div>
            </div>
          </div>
        </div>
        <!-- *** JUMBOTRON END ***-->
      </section>
      <section class="bar bg-gray no-mb padding-big text-md-center">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h2 class="text-uppercase">MEMBERS</h2>
              <p class="lead mb-small">We can offer it.</p>
              <p class="mb-small">We have prepared literally <strong>we can handle solve to your all problems which may can affect to your system.We analyze,assessment and give you the best solutions.</strong></p>
            <!--  <p><a href="#" class="btn btn-template-main">Read more</a></p> -->
            </div>
            <div class="col-md-6 text-center"><img src="{% static 'img/template-easy-customize.png' %}" alt="" class="img-fluid"></div>
          </div>
        </div>
      </section>
      <section class="bar no-mb color-white padding-big text-md-center bg-primary">
        <div class="container">
          <div class="row">
            <div class="col-md-6 text-center"><img src="{% static 'img/template-easy-code.png' %}" alt="" class="img-fluid"></div>
            <div class="col-md-6">
              <h2 class="text-uppercase">Projects or Documents</h2>
              <p class="lead mb-small">We made our best to help you</p>
              <p class="mb-small">Our team have high participate skill and high resolve skill to make your job fast and get good result  </p>
            </div>
          </div>
        </div>
      </section>
      <section class="bar bg-gray no-mb padding-big text-center-sm">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h2 class="text-uppercase">Awards</h2>
              <p class="mb-small">All our services are flexible to our customers </strong>, many <strong>not only on security field</strong> we <strong>work on all</strong> IT fields,so we can offer the best response your requests</p>
            </div>
            <div class="col-md-6 text-center"><img src="{% static 'img/award.png' %}" alt="" class="img-fluid"></div>
          </div>
        </div>
      </section>
{% endblock %}